@use "./reset.scss";//reset

/*color*/
$black:#222222;
$white:#fff;
$thin-white:#F5F5F5;

/*responsive*/
$breakpoint: (
  "xl":"screen and (max-width:1200px)",
  "lg":"screen and (max-width:1000px)",
  "md":"screen and (max-width:768px)",
  "sm":"screen and (max-width:480px)",
  "xs":"screen and (max-width:400px)"
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
   @content;
  }
}

/*br pc*/
@media screen and (min-width:1000px){
  .br-pc{display:block;}
  .br-tb{display:none;}
  .br-sp{display:none;}
}

/*br tb*/
@media screen and (max-width:768px){
  .br-pc{display:none;}
  .br-tb{display:block;}
  .br-sp{display:none;}
}

/*br sp*/
@media screen and (max-width:500px){
  .br-pc{display:none;}
  .br-tb{display:none;}
  .br-sp{display:block;}
}

body{
  font-family: 'Cormorant Garamond', serif;
  background-color:$thin-white;
  color:$black;
  font-size:1rem;
  font-weight:500;
}

img{
  object-fit: cover;
}

.visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%); 
}

.section{
  margin:128px 0;
  @include mq(md){
    margin:96px 0;
  }
  &:first-child{
    margin-top:0;
  }
  &:last-of-type{
    margin-bottom:0;
  }
  &__ttl{
    font-size:4rem;
    font-weight: bold;
    margin-bottom:56px;
    @include mq(md){
      font-size:3rem;
      margin-bottom:40px;
    }
  }
  &__inner{
    max-width:1000px;
    margin:0 auto;
    @include mq(lg){
      padding:0 16px;
    }
  }
}

/*header*/
.header{
  width:100%;
  position:sticky;
  top:0;
  z-index:9999;
  background-color:$black;
  color:$white;
  &__inner{
    max-width:1200px;
    margin:0 auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:24px 0;
    @include mq(xl){
      padding:12px 16px;
    }
  }
  &__ttl{
    font-size:0.75rem;
    line-height:1.4;
    @include mq(md){
      font-size: 0.875rem;
    }
  }
  &__list{
    font-size:1rem;
    display: flex;
    column-gap:24px;
    @include mq(lg){
      display: none;
    }
  }
  &__hamburger{
    display: none;
    position: relative;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 12px;
    width: 48px;
    height: 48px;
    margin: auto;
    border-radius: 50%;
    outline: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    @include mq(lg){
      display:block;
    }
  }
  &__hamburger[aria-expanded="true"] .header__hamburger__line{
    background-color: transparent;
  }
  &__hamburger[aria-expanded="true"] .header__hamburger__line:before,
  &__hamburger[aria-expanded="true"] .header__hamburger__line:after{
    top: 0;
    background-color: #fff;
  }
  &__hamburger[aria-expanded="true"] .header__hamburger__line:before{
    -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  }
  &__hamburger[aria-expanded="true"] .header__hamburger__line:after{
    -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  }
  &__hamburger__line {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 22px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: inherit;
            transition: inherit;
  }
  &__hamburger__line::before,
  &__hamburger__line::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    -webkit-transition: inherit;
            transition: inherit;
  }
  &__hamburger__line::before {
    top: -7px;
  }
  &__hamburger__line::after {
    top: 7px;
  }
}

.menu{
  background-color: #222;
  color:$white;
  width: 100%;
  height: 106vh;
  position: fixed;
  top:0;
  left:0;
  z-index:30;
}
.menu-container{
  width:100%;
  height: 100%;
  font-size: 40px;
  position: relative;
}
.menu-container ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.menu-container ul li{
  margin-bottom:32px;
  &:last-child{
    margin-bottom:0;
  }
}

/*about*/
.about{
  width:100%;
  &__inner{
    margin-top:100px;
    @include mq(sm){
      margin-top:156px;
    }
  }
  &__ttl{
    line-height: 1.5;
    font-size:5rem;
    margin-bottom:24px;
    font-weight: bold;
    word-break: break-all;
    @include mq(lg){
      font-size:4rem;
    }
    @include mq(sm){
      font-size:10.5vw;
    }
    &__sub{
      display: block;
      font-size:2.5rem;
      margin-top:16px;
    }
  }
  &__feature{
    margin-bottom:120px;
    @include mq(lg){
      margin-bottom:56px;
    }
    span{
      display: block;
    }
  }
  &__img{
    max-width:458px;
    margin-right: 0;
    margin-left: auto;
    margin-bottom:128px;
    @include mq(lg){
      margin-bottom:96px;
    }
    @include mq(sm){
      width:100%;
      margin-bottom:80px;
    }
  }
  &__img img{
    width:100%;
    height: auto;
  }
  &__txt{
    font-size:1.125rem;
    line-height: 1.7;
     @include mq(lg){
      font-size:1rem;
    }
    span{
      display: block;
    }
    &--jp{
      font-family: 'Noto Serif JP', serif;
      font-weight:300;
    }
  }
}

/*works*/
.works{
  width:100%;
  &__list{
    display: flex;
    column-gap:12px;
    @include mq(md){
      display: block;
    }
    &__item{
      width:calc(100% / 3 - 6px);
      @include mq(md){
        width:100%;
        margin-bottom:16px;
      }
    }
    &__item:last-child{
      margin-bottom:0;
    }
    &__item img{
      object-fit: cover;
      width:100%;
      vertical-align: bottom;
      @include mq(md){
        height:100%;
      }
    }
    &__item a{
      display: block;
    }
  }
}

.skill{
  &__contents{
    display: flex;
    column-gap: 64px;
    &__item__ttl{
      font-size:1.5rem;
      margin-bottom:16px;
    }
    &__item__list__item{
      margin-bottom:10px;
      &:last-child{
        margin-bottom:0;
      }
    }
  }
}

.contact{
  background-color:$white;
  &__inner{
    padding:40px 0;
    display: block;
  }
  &__txt{
    font-size:6.25rem;
    text-align: center;
    color:$black;
    font-weight: bold;
    transition:0.3s;
    &:hover{
      text-shadow: 1px 1px 0 #333, -1px -1px 0 #333, -1px 1px 0 #333, 1px -1px 0 #333, 0px 1px 0 #333, -1px 0 #333, -1px 0 0 #333, 1px 0 0 #333;
      color:$white;
      letter-spacing: 10px;
    }
    @include mq(md){
      font-size:4rem;
      &:hover{
        text-shadow: 1px 1px 0 #333, -1px -1px 0 #333, -1px 1px 0 #333, 1px -1px 0 #333, 0px 1px 0 #333, -1px 0 #333, -1px 0 0 #333, 1px 0 0 #333;
        color:$white;
        letter-spacing: 1px;
      }
    }
    @include mq(xs){
      font-size:15vw;
    }
  }
}

.footer{
  width:100%;
  background-color:$black;
  color:$white;
  &__inner{
    max-width:1200px;
    margin:0 auto;
    padding:64px 0;
    @include mq(xl){
      padding:48px 16px;
    }
  }
  &__list{
    display: flex;
    column-gap:24px;
    margin-bottom:48px;
  }
  &__copyright{
    text-align: right;
    font-size:0.75rem;
    font-family: 'Noto Serif JP', serif;
  }
}

/* オープニングアニメーション */
.loader-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: #000;
  z-index: 10;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.loader-name{
  color:#fff;
  font-size:1.5rem;
  text-align: center;
}

.no-scroll {
  overflow: hidden;
}